<%= form_with(model: friend) do |form| %>
<% if friend.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% friend.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br/>

  <div class="mb-6 form-group">
          <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
      </div>
<br/>
  <div class="mb-6 form-group">
          <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
      </div>
<br/>
  <div class="mb-6 form-group">
          <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
      </div>
<br/>
  <div class="mb-6 form-group">
          <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
      </div>
<br/>
  <div class="mb-6 form-group">
          <%= form.text_field :instagram, class:"form-control", placeholder:"Instagram" %>
      </div>
<br/>
 <div class="mb-6 form-group">
          <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value:current_user.id, type: :hidden %>
      </div>
<br/>

<%= form.submit class: "btn btn-dark" %>

<% if friend.persisted? %>
<%= link_to "Cancel", friend, class: "btn btn-secondary" %>
<% else %>
<%= link_to "Cancel", friends_path, class:"btn btn-secondary" %>
<% end %>
<% end %>